# Compiled python modules.
*.pyc

# logs
*.log
*.txt

# packaging
build/
dist/
*.egg-info/

# tests
.cache/
.eggs/
.tox/
.coverage

# docs
docs/_autosummary/
docs/_build/
docs/_static/
docs/_template/

# profiling
*.tmp
*.lprof